
.header {

}

.landing-header-container {
  margin: 0 auto;
  width: 600px;
  background-color: #dedede;
  padding: 20px 0;
}

.title {
  text-align: center;
  font-weight: 200;
}

.body-container {
  margin: 0 auto;
  width: 600px;
  background-color: white;
}

.create {
  padding: 30px 20px 10px 20px;
}

.todo-list {
  padding: 10px 0;
}

.real-todo-list {
  padding: 10px 0;
}

.new-todo {
  width: 90%;
  height: 30px;
}

.todo-list-item {
  margin: 10px 20px;
}
