
.header {
  text-align: center;
  font-weight: 200;
}

.body {
  height: 100%;
}

.body-container {
  height: 100%;
}

.landing-header-container {
  margin: 0 auto;
  width: 600px;
  background-color: #dedede;
  padding: 20px 0;
  @media(max-width: 600px) {
    width: 100%;
  }
}

.todo {
  margin: 0 auto;
  width: 600px;
  background-color: white;
  padding: 30px 0;
  @media(max-width: 600px) {
    width: 100%;
  }
}

.todos {
  margin: 0 auto;
  width: 600px;
  background-color: white;
  padding: 30px 0;
  @media(max-width: 600px) {
    width: 100%;
  }
}

.form {
  margin: 0 auto;
  width: 600px;
  background-color: white;
  padding: 30px 0;
  @media(max-width: 600px) {
    width: 100%;
  }
}

.todo-list {
  padding: 10px 0;
}

.real-todo-list {
  padding: 10px 50px;
}

.new-todo {
  width: 90%;
  height: 30px;
}

.todo-list-item {
  margin: 0 40px;
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #efefef;
}

.title {
  padding: 30px 50px 0 50px;
  font-weight: 400;
  .edit-title {
    display: none;
  }
}

.description {
  padding: 20px 50px;
  .edit-description {
    display: none;
  }
}

.title-editing, .description-editing {
  p {
    display: none;
  }
}

.edit-title {
  padding: 5px 20px;
  margin: 10px;
  width: 90%;
  border: none;
  line-height: 20px;
  background-color: #efefef;
}

.edit-description {
  padding: 5px 20px;
  margin: 10px;
  width: 90%;
  height: 300px;
  border: none;
  line-height: 20px;
  background-color: #efefef;
}

.create-title {
  margin: 0 30px;
  border: solid #efefef 1px;
  border-radius: 5px;
}

.create-description {
  height: 200px;
  margin: 30px 30px 0 30px;
  border: solid #efefef 1px;
  border-radius: 5px;
}

.input-todo-title {
  padding: 0 20px;
  width: 90%;
  border: none;
  line-height: 20px;
}

.input-todo-description {
  padding: 20px 20px 20px 20px;
  width: 90%;
  height: 80%;
  border: none;
  line-height: 20px;
}


// buttons
.one-button {
  margin: 0 auto;
  padding: 30px 20px 10px 20px;
  text-align: center;
}

.button .one-button {
  padding-top: 0;
}

.two-buttons {
  margin: 0 auto;
  padding: 30px 20px 10px 20px;
  text-align: center;
}

.green-button {
  border: solid #27cd00 1px;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  margin: 10px;
}

.green-button-text {
  color: #27cd00;
  text-align: center;
  padding: 20px 70px;
}

.red-button {
  border: solid #d44831 1px;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  margin: 10px;
}

.red-button-text {
  color: #d44831;
  text-align: center;
  padding: 20px 70px;
}

.hidden-button {
  display: none;
}

