
.header {
  text-align: center;
  font-weight: 200;
}

.body {
  height: 100%;
}

.landing-header-container {
  margin: 0 auto;
  width: 600px;
  background-color: #dedede;
  padding: 20px 0;
}

.body-container {
  margin: 0 auto;
  width: 600px;
  background-color: white;
  height: 100%;
}

.create {
  padding: 30px 20px 10px 20px;
  text-align: center;
}

.todo-list {
  padding: 10px 0;
}

.real-todo-list {
  padding: 10px 50px;
}

.new-todo {
  width: 90%;
  height: 30px;
}

.todo-list-item {
  padding: 10px;
}

.create-button {
  border: solid #27cd00 1px;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}

.create-button-text {
  color: #27cd00;
  text-align: center;
  padding: 20px 100px;
}

.title {
  padding: 30px 50px 0 50px;
  font-weight: 200;
}

.description {
  padding: 20px 50px;
}
